
section.hero {
  height: 400px;
  background: #eee;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.post-detail .post-detail-main {
  margin-top: -4rem;
  padding: 2rem;
  border-radius: .25rem;
  background-color: white;
}

.post-detail .post-title-wrapper {
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}


.post-detail .post-image {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 1rem;
  object-fit: cover;
}

.post-detail .post-image:hover {
  cursor: pointer;
}

#lightbox .text-center {
  display: flex;
  margin: 0 30%;
}

@media only screen and (max-width: 568px) {
  #lightbox .text-center {
    display: flex;
    margin: 0 15%;
  }
}

#lightbox .text-center p {
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
  margin: 0 auto;
}

.ratio-16x9 {
  --bs-aspect-ratio: 43.21%;
}